p{
    font-size: 1.18vw;
}
body{
    background-color: rgb(129, 129, 129);
}


#menu{
    background-color: black;
    padding: 0.885vw;
    width: 66%;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}
.menu{

    text-decoration: none;
    color: #ddd;
    background-color: #222;
    padding: 0.885vw;
    font-size: 1.77vw;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 3.31875vw;
    margin-right: 3.31875vw;
    text-align: right;
    transition: color, filter 0.4s;
}
.menu:hover{
    color: white;
    filter: brightness(160%);
}
#band_Saw_Picture{
    width: 40%;
    height: 20%;
    transition: filter 0.5s;
    cursor: pointer;
    padding: 1.475vw;
    margin-top: -10.325vw;
}
#BandSaw{
    width:45%;
    color: white;
    padding: 1.475vw;
    font-size: 1.3275vw;
}
span{
    padding-left: 4.5%;
}
#tools{
    margin-top: 29.5vw;
    background-color: #222;
}
#a{
    display: inline;
}
#band_Saw_Picture:hover{
    filter: brightness(150%)
}
h1{
    font-size: 4.425vw;
    color: white;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 5.1625vw;
    left: 5.1625vw;
}
h2{
    font-family: 'Merriweather', serif;
    font-size: 1.475vw;
    color: rgb(192, 192, 192);
    position: absolute;
    top: 14.0125vw;
    left: 14.75vw;
}
#list{
    position: absolute;
    top: 21.3875vw;
    left: 14.75vw;
    color: whitesmoke;
    font-size: 1.475vw;
    font-family: "David Libre";
}
#disc_Sander_Picture{
    cursor: pointer;
    transition: filter 0.5s;
    margin-right: 5.9vw;
    margin-top: -95.875vw;
}
#disc_Sander_Picture:hover{
    filter: brightness(150%);
}
#DiscSander{
    position: absolute;
    width: 30%;
    right: 2.95vw;
    font-size: 1.3275vw;
    padding: 1.475vw;
    color: white;
    bottom: -52.9525vw;
}
#disc_Sander{
    margin-left: 1.475vw;
    margin-top: -10.325vw;
}
#drill_Press_Picture{
    width: 40%;
    transition: filter 0.5s;
    cursor: pointer;
}
#drill_Press{
    padding-top: 14.0125vw;
}
#drill_Press_Picture:hover{
    filter: brightness(150%)
}
#DrillPress{
    width:45%;
    color: white;
    padding: 1.475vw;
    font-size: 1.3275vw;
}
#silverV{
    border-left: 0.4425vw solid silver;
    height: 276.8vw;
    position: absolute;
    left: 49.04375vw;
    top: 51.99375vw;
}
#hr1{
    border-top: 0.4425vw solid silver;
    position: absolute;
    top: 110.625vw;
    width: 98.69%
}
ul{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#general p{
    color: white;
    font-size: 1.77vw;
}
#general{
    padding: 1.475vw;
    padding-left: 34.6625vw;
    
}
.names{
    text-decoration: none;
    color: #222;
    font-size: 1.77vw;
    margin-top: 2.2125vw;
    padding-left: 0.7375vw;
}
.names:hover{
    filter: brightness(11300%)
}
.popup{
    font-size: 1.77vw;
    color: white;
    position: absolute;
    width: 26.18125;
    background-color: #111;
    text-align: center;
    height: 4.425vw;
    bottom: -19.175vw;
    opacity: 0.9;
    margin-left: 7.0.553125vw;
    font-family: sans-serif;
    filter: brightness(150%)
}
#popupDrillPress{
    position: absolute;
    bottom: -95.875vw;
}
#oscillating_Spindle_Sanders_Picture{
    width: 93%;
    margin-top: 10.325vw;
    cursor: pointer;
    transition: filter 0.5s;

}
#oscillating_Spindle_Sanders_Picture:hover{
    filter: brightness(150%);
}
#popupOscillatingSpindleSander{
    bottom: -95.875vw;
    margin-left: 3.6875vw;
}
#OSS{
    width:85%;
    color: white;
    padding: 1.475vw;
    font-size: 1.3275vw;
}
#mitre_Saw_Picture{
    margin-top: 7.375vw;
    cursor: pointer;
    transition: filter 0.5s;
}
#mitre_Saw_Picture:hover{
    filter: brightness(150%);
}
#popupMitreSaw{
    bottom: -158.5625vw;
    margin-left: 2.2125vw;
}
#MitreSaw{
    color: white;
    font-size: 1.3275vw;
    padding: 1.475vw;
    width: 45%;
}
#hr2{
    border-top: 0.4425vw solid silver;
    position: absolute;
    top: 180.6875vw;
    width: 98.69%
}
#popupTableSaw{
    bottom: -158.5625vw;
}
#table_Saw_picture{
    width: 40.5625vw;
    position: absolute;
    top: 191.75vw;
    left: 55.3125vw;
    cursor: pointer;
    transition: filter 0.5s;
}
#table_Saw_picture:hover{
    filter: brightness(150%)
}
#TableSaw{
    color: white;
    font-size: 1.3275vw;
    padding: 1.475vw;
    width: 90%;
    margin-top: 30.2375vw;
    margin-left: -2.2125vw;
}
#router_Picture{
    width: 55%;
    padding: 1.475vw;
    cursor: pointer;
    transition: filter 0.5s;

}
#popupRouter{
    bottom: -236vw;
    left: 3.6875vw;
}
#router_Picture:hover{
    filter: brightness(150%);
}
#router{
    margin-top: 14.75vw;
}
#hr3{
    border-top: 0.4425vw solid silver;
    position: absolute;
    top: 258.125vw;
    width: 98.69%
}
#Router{
    color: white;
    font-size: 1.3275vw;
    padding: 1.475vw;
    width: 45%;
}
#biggerDevice{
    display: none;
}
@media only screen and (max-width: 837px){
    #aaa{
        display: none;
    }
    #biggerDevice{
        display: block;
        color: black;
    }
}