#menu{
    background-color: black;
    padding: 0.885vw;
    width: 80vw;
    float: right;
}
a{
    text-decoration: none;
    color: #ddd;
    background-color: #222;
    padding: 0.885vw;
    font-size: 1.77vw;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 3.31875vw;
    margin-right: 3.31875vw;
    text-align: right;
    transition: color, filter 0.4s;
}
h1{
    font-size: 4.425vw;
    position: absolute;
    top: 8.85vw;
    left: 8.85vw;
    color: white;
    font-family: 'Playfair Display', serif;
}
body{
    background-color: rgb(129, 129, 129);
}
h2{
    font-family: 'Merriweather', serif;
    font-size: 1.40125vw;
    color: rgb(192, 192, 192);
    position: absolute;
    top: 18.4375vw;
    left: 15.4875vw;
}
p{
    width: 35%;
    position: absolute;
    top: 25.8125vw;
    left: 29.5vw;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.18vw;
}
#bbqP1{
    cursor: pointer;
    width: calc(100% / 3);
    height: calc(100% / 3);
    z-index: -1;
    margin-left: 51.625vw;
    margin-top: 3.6875vw;
    transition: filter 1s;
}
#bbqP1:hover{
    filter: brightness(130%) contrast(110%);
}
a:hover{
    color: white;
    filter: brightness(160%);
}
span{
    padding-left: 2.2125vw;
}
a:hover{
    color: white;
    filter: brightness(160%);
}
#biggerDevice{
    display: none;
}
@media only screen and (max-width: 637px){
    #aaa{
        display: none;
    }
    #biggerDevice{
        display: block;
        color: black;
    }
}